<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Farm</title>
</head>
<body>
    <h1>Create New Farm</h1>
    <form action="/farms" method="post" id="new-farm">
        <label for="name">Enter Farm Name: </label>
        <input type="text" id="name" name='name'>
        <label for="city">Enter city Name: </label>
        <input type="text" id="city" name='city'>
        <label for="email">Enter email: </label>
        <input type="email" id="email" name='email'>
        <button>submit</button>
    </form>
</body>
</html>