<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>Welcome to RESTful comments webpage.</h1>

        <h3><a href="/view-comments">View all comments</a></h3>
        <h3><a href="/new-comment">Create a new comment</a></h3>

    </body>

</html>