<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Farm</title>
</head>
<body>
    <h1>Create a new Product</h1>
    <form action="/farms/<%=id%>/products" method="post" id="new-product">
        <label for="name">Enter Product Name: </label>
        <input type="text" id="name" name='name'>
        <label for="price">Enter Price: </label>
        <input type="number" id="price" name='price'>
        <label for="category">category: </label>
        <select name="category" id="category">
            <% const catag = ['fruit', 'vegetable', 'dairy'];%>
            <% for (ele of catag){%>
                <option value="<%=ele%>"><%=ele%></option>
            <%}%>
        </select>
        
        <button>submit</button>
    </form>
</body>
</html>