<% layout('layouts/boilerplate')-%>
<h2 class="text-center my-5">Create New Campground</h2>
<form action="/campgrounds/new" method="post" class="d-flex flex-column offset-3 form-validated" style="max-width: 576px" novalidate>
    <div class="mb-3">
      <label for="title" class="form-label">Campground Title</label>
      <input type="text" class="form-control" id="title" name="title" aria-describedby="campground title" required>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input type="text" class="form-control" id="location" name="location" aria-describedby="location" required>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Campground Image URL</label>
      <input type="text" class="form-control" id="image" name="image" aria-describedby="image-url" required>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" step="0.01" class="form-control" id="price" name="price" required>
        <span class="input-group-text">.00</span>
      </div>
    </div>
    <label for="description-div" class="form-label">Description</label>
    <div class="form-floating mb-3" id="description-div">
        <textarea name="description" id="description" class="form-control" style="height: 100px;" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Submit</button>
  </form>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.form-validated')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
  </script>